[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[core]
	excludesfile = ~/.config/git/ignore
	pager = delta
	hooksPath = {{ .chezmoi.homeDir }}/.config/git/hooks
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status --short --branch
	sw = switch
	lg = log --oneline --decorate --graph --all
	last = log -1 HEAD --stat
	uncommit = reset --soft HEAD~1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Nicolas Hidemaru Ogoshi / 大越ニコラス秀丸
	email = ogoshihidemaru@gmail.com
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
